.todo {
  width: inherit;
  position: relative;
}

.todoTitle,
.todoDiv,
.todoForm,
.todoLists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoTitle {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--black);
}

.todoDiv {
  margin-top: 3%;
  flex-direction: column;
}

.todoTitle h1 {
  margin: 0 1%;
}

.todoTitle img {
  width: 3%;
}

.todoForm {
  width: 40%;
  margin-bottom: 3%;
  position: relative;
}

.todoForm input,
.todoForm button {
  outline: none;
  border: none;
  font-family: var(--font);
  transition: var(--transition);
}
.todoForm input {
  padding: 15px 15px;
  width: 100%;
  background-color: var(--lightColor);
  border-radius: 20px;
  border: 2px solid var(--lightColor);
  font-size: 1em;
  box-shadow: var(--shadow2);
}
.todoForm input:focus {
  border: 2px solid var(--mainColor);
  background-color: white;
}
.todoForm button {
  cursor: pointer;
  padding: 18px 15px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  position: absolute;
  right: 0;
  color: var(--black);
  background-color: rgba(255, 255, 255, 0);
}
.todoForm button:hover {
  color: var(--mainColor);
}

.todoLists {
  flex-direction: column;
  border: 2px solid var(--mainColor);
  padding: 1%;
  border-radius: 8px;
  width: 40%;
}

.todoLists ul {
  width: 100%;
  position: relative;
}

.todoLists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--mainColor);
  animation: showTodo 0.8s ease-in-out;
  transition: var(--transition2);
}

@keyframes showTodo {
  from {
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

.todoLists li:hover {
  background-color: rgb(241, 253, 251);
}

.checkIcon {
  margin-right: 5px;
}
.checkedIcon {
  color: pink;
}
.checkedTodo {
  color: pink;
  text-decoration: line-through;
}

.todoLi {
  cursor: default;
  width: 100%;
}

.todoEditContent {
  border: none;
  font-family: var(--font);
  font-size: 1em;
  cursor: auto;
  transition: all 0.3s ease-in-out;
}

.todoEditContent:focus {
  background-color: var(--lightColor);
}

.todoBtns {
  width: 20%;
  display: flex;
}

.todoBtns span {
  width: 100%;
  text-align: center;
}

.icon,
.checkIcon {
  cursor: pointer;
  transition: var(--transition2);
}

.icon:hover,
.checkIcon:hover {
  color: pink;
}

.todoDel {
  margin-left: 5px;
}

.delModal {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

.delModal > div {
  border-radius: 5px;
  border: 1px solid var(--lightBlack);
  background-color: var(--lightColor);
  box-shadow: var(--shadow1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 1%;
  animation: showTodo 0.8s ease-in-out;
}

.delModal > div > p {
  margin: 5px;
  cursor: default;
}

.delBtns {
  margin: 8px;
}
.delBtns button {
  cursor: pointer;
  margin: 5px;
  border: none;
  background-color: var(--lightColor);
  font-family: var(--font);
}

.logout {
  position: absolute;
  right: 3%;
  bottom: 0;
  background-color: pink;
  padding: 5px;
  border: 1px solid black;
  box-shadow: var(--shadow1);
  transition: all 0.2s ease-in-out;
}

.logout:hover {
  opacity: 0.7;
}
