@import "css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
@import "css/Home.module.css";
@import "css/Todo.module.css";

:root {
  --font: "Noto Serif KR", serif;
  --mainColor: rgb(0, 211, 148);
  --lightColor: rgba(0, 255, 179, 0.3);
  --lighterColor: rgb(241, 253, 251);
  --black: rgb(41, 41, 41);
  --lightBlack: rgba(41, 41, 41, 0.7);
  --pink: rgb(255, 187, 199);
  --transition: all 0.3s ease-in-out;
  --transition2: all 0.2s ease-in-out;
  --shadow1: 0.1em 0.2em 0.5em rgb(142, 176, 164);
  --shadow2: 0.1em 0.2em 0.5em rgb(176, 210, 198);
  --show: showLists 1.5s ease-in-out forwards;
}

body {
  font-family: var(--font);
  height: 100vh;
  display: flex;
}

#root {
  display: flex;
  width: 100%;
  margin: 2% 0;
  justify-content: center;
  /* background-color: aliceblue; */
}

h1 {
  cursor: default;
}

@keyframes showLists {
  from {
  }
  to {
    opacity: 1;
  }
}
